# Configuration locale pour Docker Compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=siryia
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/siryia?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379

# Sécurité (Authentification JWT)
JWT_SECRET=super_secret_key_to_replace_in_production
